@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --toastify-color-success: rgba(255, 255, 255, 0.877) !important;
    --toastify-color-error: #e74d3c65 !important;
    --toastify-color-warning: #38bff860 !important;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body #root{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: 'Rubik', sans-serif;
}
.Toastify__toast {
    box-shadow: 0px 10px 15px #ccc !important;
    border-radius: 20px 20px !important;
    backdrop-filter: blur(5px) !important;
}

.Toastify__toast-body {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 20px !important;
    color: black !important;
    font-weight: 700 !important;
    font-family: "Rubik" !important;
    text-align: center !important;
}
.Toastify__toast-icon {
    width: 60px !important;
    height: 80px !important;
    color: #38BDF8 !important;
    margin-bottom: 40px !important;
}
.Toastify__progress-bar {
    background-color: #38BDF8 !important;
}